*, *:before, *:after {
  box-sizing: border-box;
}
html {
}

#googleMap {

  margin: 0;
  padding: 0;
}
.iconlabels {
    color: white;
    background-color: red;

    font-size: 10px;
    text-align: center;
    width: 30px;
    white-space: nowrap;
}
.red {
    color: red;
}
.orange {
    color: orange;
}
.yellow {
    color: yellow;
}
.white {
    color: white;
}
.green {
    color: green;
}
.blue {
    color: blue;
}
.lime {
    color: lime;
}
.aqua {
    color: aqua;
}

body {
  background: #203b4f;
  font-family: 'Noto Sans';

  width: 95%;
  margin:0 auto;
}

a {
  text-decoration: none;
  color: #608bd1;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
a:hover {
  color: #179b77;
}

.form {
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width: 100%;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.form-main {
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width: 95%;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);

}
.form-main-map {
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  width: 100%;
  height:95vh;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);

}
.form-main-content {
  display: inline-block;
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  width: 100%;

  min-height: 90%;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.form-main-text {
  color: #ffffff;
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: #0d4299;
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #2473f2;
  color: #ffffff;
}
.tab-group .active a {
  background: #1c60ce;
  color: #ffffff;
}

.tab2-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;

}
.tab2-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab2-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: #0d4299;
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 20%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab2-group li a:hover {
  background: #2473f2;
  color: #ffffff;
}
.tab2-group .active a {
  background: #1c60ce;
  color: #ffffff;
}


.tab3-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;

}
.tab3-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab3-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: #0d4299;
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 16.6%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab3-group li a:hover {
  background: #2473f2;
  color: #ffffff;
}
.tab3-group .active a {
  background: #1c60ce;
  color: #ffffff;
}



.tab-content > div:last-child {
  /*display: none;*/
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

h2 {
    text-align: center;
    color: #608bd1;
    font-weight: 1000;
    margin: 0;
}

h3 {
    text-align: center;
    color: #608bd1;
    font-weight: 1200;
    margin: 0;
}

p {
    text-align: center;
    color: #ffffff;
    margin: 0px 0px 50px 0px;
}

div.info {
    color: pink;
    display: box;
    text-align: center;
    padding: 5px;
    margin-top: -20px;
    margin-bottom: 15px;
    border: 1px solid red;
    background: #66131c;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  bottom: 3px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 20px;
}
label .req {
  margin: 2px;
  color: #ba1628;
}

label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input, textarea {*/
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}

input:focus, textarea:focus {
  outline: 0;
  border-color: #608bd1;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1c60ce;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button-spinner {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #000000;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #2473f2;
}

.button-block {
  display: block;
  width: 100%;
}
.button-inline {
  display: inline-block;
  width: 49%;
}
.ddl {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1c60ce;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.ddl:hover, .ddl:focus {
  background: #2473f2;
}

.ddl-block {
  display: block;
  width: 100%;
}
.forgot {
  margin-top: -20px;
  text-align: right;
}

div#content {
  width: 100%; height: 100%;
}
.top-alert-success {
    text-align: center;
    font-size: 20px;
    background-color: #23a523;
    color: #ffffff;
}
.top-alert-warning {
    text-align: center;
    font-size: 20px;
    background-color: #ef6a0b;
    color: #ffffff;
}
.top-alert-failure {
    text-align: center;
    font-size: 20px;
    background-color: #a72424;
    color: #ffffff;
}
