{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}
<title>GSD - Alerts</title>
{% endblock %}

{% block content %}

<div class="alert top-alert-success alert-dismissible" role="alert">
  Success Alert
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span>&times;</span>
  </button>
</div>

<div class="alert top-alert-warning alert-dismissible" role="alert">
  Warning Alert
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span>&times;</span>
  </button>
</div>

<div class="alert top-alert-failure alert-dismissible" role="alert">
  Failure Alert
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span>&times;</span>
  </button>
</div>

<div class="form">
      <div class="tab-content">
          <div>
              <h1>All your relevent alerts will be shown here</h1>
        </div>
      </div><!-- tab-content -->
  </div> <!-- /form -->
{% endblock %}
