{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}
<title>GSD - Chat</title>
{% endblock %}

{% block content %}
<div class="form">
      <div class="tab-content">
          <div>
              <h1>Here is where you can chat directly to a GSD consultant or submit a fault directly to the site administrator.</h1>
        </div>
      </div><!-- tab-content -->
  </div> <!-- /form -->
{% endblock %}
