{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}
<title>GSD - Welcome</title>
{% endblock %}

{% block content %}
<div class="form">
      <div class="tab-content">
          <img style="display: block;margin: auto;" src="{% static 'common/img/gsdlogo.png' %}" width=30% alt=""/>
          <div>
              <h1>Welcome to GSD</h1>
              <form method="post" action="{% url 'login' %}">
                  {% csrf_token %}
                  {% if user.is_authenticated %}
                  <h2>Welcome {{ user.username }}</h2>
                  <h3>More functionality will be added soon, so stay tuned!!</h3>
                  <p>This page will hold links to your favorites that will be setup in the settings page.</p>

                  <a href="/accounts/logout" ><input class="button button-block" type="button" name="Logout" value="Logout"></a>
                  {% else %}
                   <h3>Please login to your account</h3>
                  {% endif %}
              </form>
          </div>
      </div><!-- tab-content -->
  </div> <!-- /form -->
{% endblock %}
