{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}
<title>GSD - Login</title>
{% endblock %}

{% block content %}
<div class="form">
    <div class="tab-content">
        <img style="display: block;margin: auto;" src="{% static 'common/img/gsdlogo.png' %}" width=30% alt=""/>
        <div>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="field-wrap">
                    <input type="text" required autocomplete="on" name="username" placeholder="Enter Your Username"/>
                </div>
                <div class="field-wrap">
                    <input type="password" required autocomplete="off" name="password" placeholder="Enter Your Password"/>
                </div>
                <button class="button button-block" name="login">Log In</button>
            </form>
        </div>
    </div><!-- tab-content -->
</div> <!-- /form -->
{% endblock %}
