{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}
<title>GSD - Logout</title>
{% endblock %}

{% block content %}
<div class="form">
    <img style="display: block;margin: auto;" src="{% static 'common/img/gsdlogo.png' %}" width=30% alt=""/>
    <div>
        <h1>Thank you for using GSD</h1>
        <h3>You have been logged out!</h3>
    </div>
    <a href="/"><button class="button button-block">Home</button></a>
</div>
{% endblock %}
