{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}
<title>GSD - Management</title>
{% endblock %}

{% block content %}
<div class="form">
      <div class="tab-content">
          <div>
              <h1>Tracker management, such as naming, colouring and icon representation will be done here</h1>
        </div>
      </div><!-- tab-content -->
  </div> <!-- /form -->
{% endblock %}
