<nav class="navbar navbar-inverse">
   <div class="container-fluid">

       <!-- Logo -->
       <div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
           </button>
           <a href="/" class="navbar-brand">GSD</a>
       </div>

       <!-- Menu Items -->
       <div class="collapse navbar-collapse" id="mainNavBar">
           <ul class="nav navbar-nav">
               {% if user.is_superuser %}
               <li><a href="/admin">Admin</a></li>
               {% endif %}
               {% if user.is_authenticated %}
               <li><a href="/overview">Overview</a></li>
               <li><a href="/search">Search</a></li>
               <li><a href="/reports">Reports</a></li>
               <li><a href="/manage">Manage</a></li>
               <li><a href="/alerts">Alerts</a></li>
               <li><a href="/settings">Settings</a></li>
               <li><a href="/chat">Contact</a></li>
               <li><a href="/accounts/logout">Logout</a></li>
               {% else %}
               <li><a href="/login">Login</a></li>
               {% endif %}
           </ul>
       </div>

   </div>
</nav>
