{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}
<title>GSD - Overview</title>
{% endblock %}

{% block content %}

    <style>
        table {
          border-collapse: collapse;
        }

        table, th, td {
          border: 1px solid black;
        }
        #infowindow-content .title {
        font-weight: bold;
          }

          #infowindow-content {
            display: none;
          }

          #map #infowindow-content {
            display: inline;

          }


        .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;

      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        color: #000;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 100%;
        height: 30px;
      }
      #removed-pac-input {
          margin-left: 12px;

      }
      #pac-input:focus {
        border-color: #4d90fe;
      }
    </style>

    <script src="https://maps.googleapis.com/maps/api/js?key={{google_api_key}}&libraries=places&callback=initMap" async defer></script>
    <script>
        // This is a list of the ids that are present on the screen
        var UnitIDS = [{% for tracker in available_trackers %}'{{tracker.0}}', {% endfor %}];
        var short_names = [{% for tracker in available_trackers %}'{{tracker.2}}', {% endfor %}];

        var icon_colours = [{% for tracker in available_trackers %}'{{tracker.4}}', {% endfor %}]; // truck colours
        var icon_paths = [{% for tracker in available_trackers %}'{{tracker.3}}', {% endfor %}]; // truck paths


        var map_markers = {}; // A dict where the google maps markers are set

        var current_address_url = '/unitlogs-api/current_address/?uid=';

        // Need to set timeout
        var refresh_rate = 15000; // Default to 10 seconds

        function set_refresh_rate(new_refresh_rate){
          // called to set the refresh rate
            console.log("Updating refresh rate from "+refresh_rate + " to " + new_refresh_rate);
            refresh_rate = new_refresh_rate;

        };

        function update_all_units(){
            for (var i = 0; i < UnitIDS.length; i++){


                let tracker_uid = UnitIDS[i];
                let tracker_short_name = short_names[i];
                let tracker_icon_path = icon_paths[i];
                let tracker_icon_colour = icon_colours[i];
                let active_icon_scale = 1;
                let active_tracker_point_coords = [18,26];
                let active_tracker_label_origin_coords = [20, 16];
                let active_text_colour = 'lime';


                let inactive_text_colour = 'red';
                let default_icon = google.maps.SymbolPath.CIRCLE;
                let default_inactive_colour = 'red';
                let default_icon_rotation = 0.00;
                let default_icon_scale = 13;
                let default_tracker_point_coords = [0,0];
                let default_tracker_label_origin_coords = [0, 0];


                console.log("Updating tracker: "+tracker_uid);

                let tracker_http = new XMLHttpRequest();
                let url = current_address_url+tracker_uid;

                tracker_http.open("GET", url);

                // now process the response
                tracker_http.onreadystatechange=(e)=>{
                    if(tracker_http.readyState === XMLHttpRequest.DONE && tracker_http.status === 200){
                        console.log("reply received for: " + tracker_uid + " -> " + tracker_http.responseText);

                        var data = JSON.parse(tracker_http.responseText);

                        if (Object.keys(data).length === 0 && data.constructor === Object){
                            return;
                        }

                        document.getElementById(tracker_uid + '-address').innerHTML = data['address'].replace(', Australia','');
                        document.getElementById(tracker_uid + '-lat-lon').innerHTML = data['lat'] + " / " + data['lon'];
                        document.getElementById(tracker_uid + '-speed').innerHTML = data['speed'];
                        document.getElementById(tracker_uid + '-heading').innerHTML = data['compass_dir'];
                        document.getElementById(tracker_uid + '-utcTime').innerHTML = data['time'].replace("T", " ");

                        let colour_class = default_inactive_colour;
                        let icon_to_draw = default_icon;
                        let icon_rotation_to_use = default_icon_rotation;
                        let icon_scale_to_use = default_icon_scale;
                        let text_colour_to_use = inactive_text_colour;

                        let tracker_point_coords_to_use = default_tracker_point_coords;
                        let tracker_label_origin_coords_to_use = default_tracker_label_origin_coords;

                        if (data['is_active'] == true){
                            colour_class = tracker_icon_colour;
                            icon_to_draw = tracker_icon_path;
                            icon_rotation_to_use = parseFloat(data['dir'])+90;
                            icon_scale_to_use = active_icon_scale;
                            text_colour_to_use = active_text_colour;

                            tracker_point_coords_to_use = active_tracker_point_coords;
                            tracker_label_origin_coords_to_use = active_tracker_label_origin_coords;


                        }
                        // update the tables
                        document.getElementById(tracker_uid + '-address').className = text_colour_to_use;
                        document.getElementById(tracker_uid + '-lat-lon').className = text_colour_to_use;
                        document.getElementById(tracker_uid + '-speed').className = text_colour_to_use;
                        document.getElementById(tracker_uid + '-heading').className = text_colour_to_use;
                        document.getElementById(tracker_uid + '-utcTime').className = text_colour_to_use;

                        if(map_markers[tracker_uid] === undefined){
                            console.log("Adding map element for " + tracker_uid);

                            var marker=new google.maps.Marker({
                                        position:new google.maps.LatLng( data['lat'], data['lon']),
                                        title: tracker_uid+"\nLast recieved position : "+data['time']+"\nSpeed : "+data['speed']+"\nAddress : ",
                                        UnitID: tracker_uid,
                                        icon: {
                                            path: icon_to_draw,
                                            scale: icon_scale_to_use,
                                            fillColor: colour_class,
                                            fillOpacity: 0.8,
                                            strokeWeight: 0.4,
                                            rotation: icon_rotation_to_use,

                                            // anchor:new google.maps.Point(18,26),
                                            // labelOrigin: new google.maps.Point(20, 16),
                                            anchor:new google.maps.Point(
                                                tracker_point_coords_to_use[0],
                                                tracker_point_coords_to_use[1]),
                                            labelOrigin: new google.maps.Point(
                                                tracker_label_origin_coords_to_use[0],
                                                tracker_label_origin_coords_to_use[1]),
                                        },
                                        label: {
                                            color: 'black',
                                            fontWeight: 'bold',
                                            fontSize: '14px',
                                            text: tracker_short_name
                                        },
                            });
                            marker.setMap(map);
                            map_markers[tracker_uid] = marker;

                        } else {
                            console.log("Updating map element for " + tracker_uid);
                            var center = new google.maps.LatLng(data['lat'], data['lon']);
                            map_markers[tracker_uid].setPosition(center);
                            map_markers[tracker_uid].custom_lat =  data['lat'];
                            map_markers[tracker_uid].custom_lon =  data['lon'];


                            let iconOptions = map_markers[tracker_uid].getIcon();
                            iconOptions.fillColor = colour_class;
                            iconOptions.path = icon_to_draw;
                            iconOptions.rotation = icon_rotation_to_use;
                            iconOptions.scale = icon_scale_to_use;

                            iconOptions.anchor = new google.maps.Point(
                                tracker_point_coords_to_use[0],
                                tracker_point_coords_to_use[1]);
                            iconOptions.labelOrigin = new google.maps.Point(
                                                tracker_label_origin_coords_to_use[0],
                                                tracker_label_origin_coords_to_use[1]);


                            map_markers[tracker_uid].setIcon(iconOptions);

                        }

                    }
                }
                tracker_http.send();
            }
        };

        function refresh_stats(){
            console.log("Refreshing status...")
            update_all_units()
            setTimeout(refresh_stats, refresh_rate);
        };

        // This method kicks off the refreshing
        //setTimeout(refresh_stats, 1000);

        function hidediv(div,header) {
                    var x = document.getElementById(div);
                    if (x.style.display === "none") {
                        x.style.display = "block";
                        document.getElementById("button"+header).innerHTML="Hide "+header;
                    } else {
                        x.style.display = "none";
                        document.getElementById("button"+header).innerHTML="Show "+header;
                    }
                }

        var map;
        function initMap(){
                map = new google.maps.Map(document.getElementById('map'), {
                  center: {lat: -37.450, lng: 144.450},
                  zoom: 8,
                  mapTypeId: 'roadmap',
                  disableDefaultUI: true,
                  fullscreenControl: true
                });

            var control = document.getElementById('VehicleID');
            map.controls[google.maps.ControlPosition.TOP_LEFT].push(control);

            var input = document.getElementById('pac-input');
            var searchBox = new google.maps.places.SearchBox(input);
            //map.controls[google.maps.ControlPosition.BOTTOM_LEFT].push(input);

            // Bias the SearchBox results towards current map's viewport.
            map.addListener('bounds_changed', function() {
              searchBox.setBounds(map.getBounds());
            });

                    var markers = [];
            // Listen for the event fired when the user selects a prediction and retrieve
            // more details for that place.
            searchBox.addListener('places_changed', function() {
              var places = searchBox.getPlaces();

              if (places.length == 0) {
                return;
              }

              // Clear out the old markers.
              markers.forEach(function(marker) {
                marker.setMap(null);
              });
              markers = [];

              // For each place, get the icon, name and location.
              var bounds = new google.maps.LatLngBounds();
              places.forEach(function(place) {
                if (!place.geometry) {
                  console.log("Returned place contains no geometry");
                  return;
                }
                var icon = {
                  url: place.icon,
                  size: new google.maps.Size(71, 71),
                  origin: new google.maps.Point(0, 0),
                  anchor: new google.maps.Point(17, 34),
                  scaledSize: new google.maps.Size(25, 25)
                };

                // Create a marker for each place.
                markers.push(new google.maps.Marker({
                  map: map,
                  icon: icon,
                  title: place.name,
                  position: place.geometry.location
                }));

                if (place.geometry.viewport) {
                  // Only geocodes have viewport.
                  bounds.union(place.geometry.viewport);
                } else {
                  bounds.extend(place.geometry.location);
                }
              });
              map.fitBounds(bounds);
            });


        }

        var sort_directions = {}; // Hold search directions

        function sort_table_row(col_number){
            console.log("sorting table elements");
            let tracker_table_rows = document.getElementById('stats-body').children;
            // check sort_directions for polarity
            let obj_key = ''+col_number;

            let sort_dir = sort_directions[obj_key];

            if (sort_dir === undefined || sort_dir == 'up'){
                sort_directions[obj_key] = 'down';
                sort_dir = 'down';
            } else {
                sort_directions[obj_key] = 'up';
                sort_dir = 'up';
            }

            // time to rock a bubble sort for lols
            let swapped = null;
            do {
                swapped = false;
                for (let i=0; i < tracker_table_rows.length-1; i++) {
                    console.log("Sorting with i="+i);
                    let first_comp = tracker_table_rows[i].children[col_number].textContent.toLowerCase();
                    let second_comp = tracker_table_rows[i+1].children[col_number].textContent.toLowerCase();
                    console.log("Comparing: "+ first_comp + " with "+ second_comp);
                    if (sort_dir == 'down'){
                        if ( first_comp > second_comp) {
                            console.log()
                            exchangeElements(tracker_table_rows[i],tracker_table_rows[i+1] )
                            swapped = true;
                        }
                    } else {
                        if ( first_comp < second_comp) {
                            console.log()
                            exchangeElements(tracker_table_rows[i],tracker_table_rows[i+1] )
                            swapped = true;
                        }
                    }
                }
            } while (swapped);
        }

        function exchangeElements(node1, node2) {
            console.log("Swapping: "+node1 + " " + node2);
            let afterNode2 = node2.nextElementSibling;
            let parent = node2.parentNode;
            node1.replaceWith(node2);
            parent.insertBefore(node1, afterNode2);
        }




    </script>

    <div class="main-form">
        <div class="form-main-content">
            <select style="width:auto;border: 2px solid #203b4f;display:inline;background:#0d4299;color:#a0b3b0;font-size:20px;" project="refreshrate" id="refreshrate" name="refreshrateDD" onchange='if(this.value != 0) { set_refresh_rate(this.value); }'>
                <option value="15000" selected>15 seconds</option>
                <option value="30000">30 seconds</option>
                <option value="60000">1 minute</option>
                <option value="300000">5 minutes</option>
                <option value="600000" >10 minutes</option>
                <option value="900000">15 minutes</option>
            </select>
            <br/>
            <br/>
            <div id="textlist" >
                <table name="stats" id="stats" class="" color="grey" border="1" style="min-width: 100%;border:1px solid #203b4f;border-collapse:separate;">
                    <thead>
                        <tr id="table_header">
                            <td class="white" onclick="sort_table_row(0)">Unit Name</td>
                            <td class="white" onclick="sort_table_row(1)" >Map Name</td>
                            <td class="white" onclick="sort_table_row(2)">Time</td>
                            <td class="white" onclick="sort_table_row(3)">Speed</td>
                            <td class="white" onclick="sort_table_row(4)" >Heading</td>
                            <td class="white" onclick="sort_table_row(5)">Address</td>
                            <td class="white" onclick="sort_table_row(6)" style="display: none;" >Lat/Lon</td>
                        </tr>
                    </thead>
                    <tbody id="stats-body">
                        {% for tracker in available_trackers %}
                            <tr id="{{tracker.0}}-summary-row">
                                <td id="{{tracker.0}}-unitName" class="white" >
                                    <a href="/history/?uid={{tracker.0}}" alt="View Tracker History">{{tracker.1}}</a>
                                </td>
                                <td id="{{tracker.0}}-short-name" class="white" >
                                    <a href="/history/?uid={{tracker.0}}" alt="View Tracker History">{{tracker.2}}</a>
                                </td>
                                <td id="{{tracker.0}}-utcTime" class="white" ></td>
                                <td id="{{tracker.0}}-speed" class="white" ></td>
                                <td id="{{tracker.0}}-heading" class="white" ></td>
                                <td id="{{tracker.0}}-address" class="white" ></td>
                                <td id="{{tracker.0}}-lat-lon" class="white" style="display: none;" ></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <select hidden id="VehicleID"
                style="width:auto;border: 2px solid #203b4f;display:inline;background:#0d4299;color:#a0b3b0;font-size:20px;"
                onchange='if(this.value =="center"){
                        map.setCenter({lat: -37.450, lng: 144.450});
                        map.setZoom(8);
                    } else {
                        map.setCenter(map_markers[this.value].getPosition());
                        map.setZoom(14);
                    }'
                >
                <option value="center" id="center" SELECTED>Victoria</option>
                {% for tracker in available_trackers %}
                <option value="{{tracker.0}}" id="map_select_{{tracker.0}}">{{tracker.1}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <input id="pac-input" class="controls" type="text" placeholder="Enter an address to search...">
    <div id="map" class="form-main-map">
    </div>
    <script>
        // Sort the table initially by the tracker name
        sort_table_row(0);
    </script>
{% endblock %}
