<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <h1>Registration Page!</h1>
    <form class="" action="{% url 'register' %}" method="post">
        {% csrf_token %}

        {% if form.errors %}
        <p>There are errors in the form!</p>
        {% endif %}

        {{ form }}
        <p><input type="submit" value="Register"></p>
    </form>
</body>
</html>
