{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}
<title>GSD - Reports</title>
{% endblock %}

{% block content %}
<div class="form">
    <div>
        <h1>All your relevent reporting can be accessed from here. </h1>
        <p><a href="#"><button class="button button-block">Snapshots</button></a></p>
        <p><a href="#"><button class="button button-block">Footage</button></a></p>
        <p><a href="#"><button class="button button-block">Activity and Distance Travelled</button></a></p>
    </div>
</div>
{% endblock %}
