{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}
<title>GSD - Search</title>
{% endblock %}

{% block content %}

 <style>

        #search_wrapper {
            width: 100%;
            border: 1px solid black;
            overflow: hidden; /* will contain if #first is longer than #second */
            background-color: #ffffff;
        }

        #googleMap {
            width: 100%;
            float:left; /* add this */

            overflow: hidden;
            display: block;
            -webkit-transition: width 1s;
        }
        #search_results {
            width: 0%;
            border: 1px solid black;
            overflow: hidden; /* if you don't want #second to wrap below #first */
            display: none;
            -webkit-transition: width 1s;
            height: 650px;
            overflow-y: scroll;

        }


        .date_search_result {
            background-color: #4286f4;
            padding-bottom: 20px;
            font-size: 20px;
        }

        .tracker_search_result{
            padding-left: 10px;
            padding-top: 5px;
        }

        .tracker_point_search_result{
            padding-left: 10px;
            -webkit-transition: background-color 500ms;
            font-size: 15px;
            padding-top: 5px;
            padding-bottom: 5px;
        }




        #infowindow-content .title {
        font-weight: bold;
          }

          #infowindow-content {
            display: none;
          }

          #map #infowindow-content {
            display: inline;
          }


        .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }
 </style>


<script>

    var odd_search_gif_list = ["loading3.gif","loading2.gif"];

    var ready_search_string = "Search database for trucks that have been near here recently";
    var during_search_string = '<img src="{% static 'common/img/loading.gif' %}">';

    var search_url = '/unitlogs-api/search_recent?';

    var target_latitude = null;
    var target_longitude = null;

    var search_results_container = null; // This variable is where the search results are drawn from
    var search_results_trackers = null; // This is where the trackers are stored for a search result

    var poly_line_array = [];
    var tracker_point_multi_array = [];


    var message_index = 0;
    var messages = [
        "Need to select an address!",
        "Need to select an address!",
        "Cannot search until you select an address.",
        "Please select an address first before pressing this button.",
        "Really need select an address first.",
        "Please select an address. Please.",
        "I can't do much until you select an address.",
        "Let's be real, you are just clicking now aren't you?",
        "Please select an address first. ",
        "I'm doing my best, can we meet in the middle? Give me an address.",
        "Come on, you're not even trying now. Please select an address.",
        "... any chance you are going to select an address?",
    ];

    function dateToYMD(date) {
        let strArray=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        let d = date.getDate();
        let m = strArray[date.getMonth()];
        let y = date.getFullYear();

        let weekday = new Array(7);
        weekday[0] =  "Sunday";
        weekday[1] = "Monday";
        weekday[2] = "Tuesday";
        weekday[3] = "Wednesday";
        weekday[4] = "Thursday";
        weekday[5] = "Friday";
        weekday[6] = "Saturday";

        return '' + weekday[date.getDay()] + ' '+ m + ' ' + (d <= 9 ? '0' + d : d) + '-' + y;
    }


    function uid_to_tracker(uid) {
        for (let i = 0; i < search_results_trackers.length; i++){
            if (search_results_trackers[i][0] === uid){
                return search_results_trackers[i];
            }
        }
    }

    function search_for_events(){
        if (target_latitude === null || target_longitude === null){
            alert(messages[message_index]);
            message_index = message_index +1
            if (message_index >= (messages.length)){
                message_index = 0;
            }
            return;
        }

        clearSearchResults(); // Clear the existing ones
        disableButtonsDuringSearch();

        // now actually call out to the server with the lat/lon
        let target_search_url = search_url + "lat="+target_latitude+"&lon="+target_longitude;

        let search_http = new XMLHttpRequest();

        console.log(target_search_url);

        search_http.open("GET", target_search_url);

        // Register the event handler when the reply comes in
        search_http.onreadystatechange=(e)=>{
            if (search_http.readyState === XMLHttpRequest.DONE && search_http.status === 200) {
                console.log("reply received for: " + target_latitude + "/" + target_longitude + " --> " + search_http.responseText);

                displayResults(JSON.parse(search_http.responseText));
                enableButtonsAfterSearch();
            }
        }
        // Actually send the request
        search_http.send();

    }

    function disableButtonsDuringSearch() {

        if (Math.random()>0.95) {
            document.getElementById("ButtonSearch").innerHTML = during_search_string.replace(
                'loading.gif', odd_search_gif_list[Math.floor(Math.random() * odd_search_gif_list.length)]
            );
        } else {
            document.getElementById("ButtonSearch").innerHTML = during_search_string;
        }
    }

    function enableButtonsAfterSearch() {
        document.getElementById("ButtonSearch").innerHTML = ready_search_string;
    }

    function clearSearchResults(){
        // Hide the results Pane
        _hide_search_results_div();
        document.getElementById("search_results").innerHTML = '';
        // Clear the map (cycle through the poly line array and set no map)
        let local_search_keys = Object.keys(poly_line_array);
        for (let i=0; i<local_search_keys.length; i++ ){
            poly_line_array[local_search_keys[i]].setMap(null);
        }
        // go trhough each point and remove
        for (let i=0; i<local_search_keys.length; i++ ){
            for(let j=0; j<tracker_point_multi_array[local_search_keys[i]].length; j++){
                tracker_point_multi_array[local_search_keys[i]][j].setMap(null);
            }
        }
        // clear the varibles
        poly_line_array = [];
        tracker_point_multi_array = [];
        // Clear the search results variables;
        search_results_container = null;
        search_results_trackers = null;
    }

    function displayResults(results_json){
        // Get the tracker info out
        search_results_trackers = results_json['trackers'];
        console.log("Trackers Total: "+ search_results_trackers.length);
        for (let i=0; i< search_results_trackers.length; i++){
            console.log("Tracker: "+ search_results_trackers[i]);
        }
        // now scroll through the search results.
        search_results_container = results_json['search_results'];
        // Now call the draw method
        _draw_search_results();
        // at the end, enable the div so we can see the glory.
        _show_search_results_div();
    }

    function _tracker_info_to_html(tracker_info){
        // given a tracker info tuple, it will return a html rendering
        return "Tracker: "+tracker_info[1]+'('+tracker_info[2]+')';
    }

    function _tracker_point_list_to_html(tracker_point_list){
        /// given a tracker point it will return a html rendering
        let lowest_time = tracker_point_list[0]['time'].split("T")[1];
        let highest_time = tracker_point_list[tracker_point_list.length -1]['time'].split("T")[1];
        let last_direction = tracker_point_list[tracker_point_list.length -1]['compass_dir'];
        return lowest_time + ' --> ' + highest_time + "(heading: "+last_direction+')';
    }

    // mouse activity for hover and click. This is where the draw is shown

    function _mouse_hover_tracker_points(local_div) {
        console.log("Mouseover detected --> "+(local_div.id));

        if (current_clicked_div != local_div.id){
            local_div.style.backgroundColor = 'white';
        }

        let data_key = (local_div.id).split('_')[2];
        console.log(data_key);
        // draw the poly on the map
        poly_line_array[data_key].setMap(map);
        // draw the points on them map
        for (let i=0; i< tracker_point_multi_array[data_key].length; i++){
            tracker_point_multi_array[data_key][i].setMap(map);
        }
    }

    function _mouse_leave_tracker_points(local_div) {
        if (current_clicked_div != local_div.id){
            local_div.style.backgroundColor = '';
            let data_key = (local_div.id).split('_')[2];
            console.log(data_key);
            // hide the line from the map
            poly_line_array[data_key].setMap(null);
            // hide the data points from the map
            for (let i=0; i< tracker_point_multi_array[data_key].length; i++){
                tracker_point_multi_array[data_key][i].setMap(null);
            }}
    }

    var current_clicked_div = ''; // This holds the ID of the last thing clicked.

    function _mouse_click_tracker_points(local_div) {
        console.log("Mouseclick detected --> "+(local_div.id));
        if (current_clicked_div == local_div.id){
            current_clicked_div = '';
            local_div.style.backgroundColor = 'white';
        } else {
            local_div.style.backgroundColor = '#89b6ff';
            current_clicked_div = local_div.id;
            console.log("Toggling on: " + current_clicked_div);
            // blank out any others
            let _poly_keys = Object.keys(poly_line_array);
            for (let i=0; i < _poly_keys.length; i++){
                let local_key_name = _poly_keys[i];
                console.log("Comparing to: "+ ("tracker_point_"+local_key_name));
                if (current_clicked_div != ("tracker_point_"+local_key_name)){
                    console.log("Not equal - "+current_clicked_div+ " " +  ("tracker_point_"+local_key_name) );
                    document.getElementById("tracker_point_"+local_key_name).style.backgroundColor = '';
                    poly_line_array[local_key_name].setMap(null);
                    for (let j=0; j< tracker_point_multi_array[local_key_name].length; j++){
                        tracker_point_multi_array[local_key_name][j].setMap(null);
                    }
                }
            }
        }
    }

    function build_html_popup_info_window(tracker_point) {

        console.log(tracker_point);

        // given a tracker point it returns HTML specifically for the popup on the marker
        let video_str = '';

        if (tracker_point.has_video == true){
            video_str = '<video width="320" height="240" controls>\n' +
                '              <source src="/unitlogs-api/video/?uid='+tracker_point.uid+'&log_id='+tracker_point.log_id+'" type="video/mp4">\n' +
                '              \n' +
                '              Your browser does not support the video tag.\n' +
                '            </video>';
        }

        if (tracker_point.pic == '') {

            return "<div><ul style=\"list-style: none;\">" +
                "<li><h3>Time: <i>" + tracker_point.time.replace('T',' ').split(' ')[1] + "</i></h3></li>" +
                "<li><h3>Speed: " + tracker_point.speed + " <i>Km/h</i></h3></li>" +
                "<li>Log Point ID: <i>" + tracker_point.log_id + "</i></li>" +
                "<li>Reason: <i>" + tracker_point.log_reason_verbose + "</i></li>" +
                "<li>Coords: <i>" + tracker_point.lat + " / " + tracker_point.lon + "</i></li>" +
                "<li>"+video_str+"</li>"    +
                "</ul>" + "</div>";
        } else {
            let pic_args_arr = tracker_point.pic.split("/");

            let target_str = "/unitlogs-api/pics/?uid="+pic_args_arr[0]+"&file="+pic_args_arr[1];

            return "<div><ul style=\"list-style: none;\">" +
                "<li><h3>Time: <i>" + tracker_point.time.replace('T',' ').split(' ')[1] + "</i></h3></li>" +
                "<li><h3>Speed: " + tracker_point.speed + " <i>Km/h</i></h3></li>" +
                "<li>Log Point ID: <i>" + tracker_point.log_id + "</i></li>" +
                "<li>Reason: <i>" + tracker_point.log_reason_verbose + "</i></li>" +
                "<li>Coords: <i>" + tracker_point.lat + " / " + tracker_point.lon + "</i></li>" +
                "<li><br/><a href=\""+target_str+"\" target='_blank'><img width=\"200\" src=\""+target_str+"\"/><br/>(Click to view a larger image)</a></li>"
                "<li>"+video_str+"</li>"    +
                "</ul>" + "</div>";
        }


    }

    function get_point_colour(tracker_point) {
        let reason_code = parseInt(tracker_point.log_reason);
        if (reason_code == 0) {
                return 'lime'
            } else if (reason_code == 1) {
                return 'green'
            } else if (reason_code == 2) {
                return 'red';
            } else if (reason_code == 3) {
                return 'aqua';
            } else if (reason_code == 4) {
                return 'blue';
            }
        return 'black';
    }


    function _draw_search_results() {

        let search_results_html = '';

        for (let i=0; i<search_results_container.length; i++){
            let single_day = search_results_container[i];

            let date_of_results = single_day[0];
            let local_date_of_results = new Date(date_of_results);
            console.log("Results found for: "+date_of_results);

            search_results_html += '<div class="date_search_result" id="date_search_result_'+date_of_results+'">' +
                ''+dateToYMD(local_date_of_results)+'' ;

            // now cycle through the results for this date
            let single_day_search_results = single_day[1];

            let trackers_uids_today = Object.keys(single_day_search_results);

            console.log("Trackers for today"+trackers_uids_today);

            for(let j=0; j < trackers_uids_today.length; j++){
                let local_uid = trackers_uids_today[j];
                let local_tracker_info = uid_to_tracker(local_uid);
                console.log("Working on tracker: "+local_uid+" with info --> "+local_tracker_info);

                let local_search_results = single_day_search_results[local_uid];

                let local_tracker_html_string = '<div class="tracker_search_result" id="tracker_search_result_'+local_uid+'-'+date_of_results+'">';


                local_tracker_html_string += _tracker_info_to_html(local_tracker_info);

                for (let k=0; k<local_search_results.length; k++){
                    let single_tracker_point = local_search_results[k];

                    let single_tracker_point_key = date_of_results+'-'+local_uid+'-'+k;

                    let local_tracker_point_search_result_html_string = '<div class="tracker_point_search_result" ' +
                        'id="tracker_point_'+single_tracker_point_key+'" ' +
                        'onmouseover="_mouse_hover_tracker_points(this)" ' +
                        'onmousedown="_mouse_click_tracker_points(this)" ' +
                        'onmouseleave="_mouse_leave_tracker_points(this)"' +
                        '>';

                    // While we are here, we make a poly line from all the points
                    let single_point_poly_line_list = [];
                    // While we are here, we make list of all the markers
                    let single_point_tracker_point_list = [];

                    for (let l=0; l<single_tracker_point.length; l++){
                        // build the poly line
                        console.log("-->"+single_tracker_point[l]['log_id']);
                        single_point_poly_line_list.push({
                            lat: parseFloat(single_tracker_point[l].lat),
                            lng: parseFloat(single_tracker_point[l].lon)
                        });
                        // now build the marker list
                        let marker = new google.maps.Marker({
                                position:new google.maps.LatLng(
                                    parseFloat(single_tracker_point[l].lat),
                                    parseFloat(single_tracker_point[l].lon)
                                ),
                                icon:{
                                        path: google.maps.SymbolPath.FORWARD_OPEN_ARROW,
                                        strokeColor: get_point_colour(single_tracker_point[l]),
                                        strokeWeight: 2,
                                        strokeOpacity: 0.7,
                                        scale: 3,
                                        rotation: parseInt(single_tracker_point[l].dir)
                                        },
                                title:"TIME: " + single_tracker_point[l].time + "\nSPEED: " + single_tracker_point[l].speed + "kmh",
                                lat:parseFloat(single_tracker_point[l].lat),
                                lon:parseFloat(single_tracker_point[l].lon),
                                info: new google.maps.InfoWindow(
                                        {
                                                content:build_html_popup_info_window(single_tracker_point[l]),
                                        }),
                                });

                        google.maps.event.addListener(marker, 'click',function() {
                                    this.info.open(map, this);
                                    });

                        single_point_tracker_point_list.push(marker);
                    }
                    // Create and store the poly line
                    let local_poly = new google.maps.Polyline({
                        path: single_point_poly_line_list,
                        geodesic: true,
                        strokeColor: '#FF0000', //#FF0000 = Red , #00FF00 = Green , #0000FF = Blue
                        strokeOpacity: 0.4,
                        strokeWeight: 2
                    });
                    poly_line_array[single_tracker_point_key] = local_poly;

                    // Store the tracker points
                    tracker_point_multi_array[single_tracker_point_key] = single_point_tracker_point_list;

                    // add it to the tracker string.
                    local_tracker_point_search_result_html_string += _tracker_point_list_to_html(single_tracker_point);
                    local_tracker_html_string += local_tracker_point_search_result_html_string + "</div>";
                }

                // Write this html to search_results_html
                search_results_html += local_tracker_html_string + "</div>"
            }
            // close the div for that day
            search_results_html += '</div>'
        }

        // Write all the html to that div element
        document.getElementById("search_results").innerHTML = search_results_html;
    }


    function _show_search_results_div() {
        document.getElementById("search_results").style.display = 'block';
        document.getElementById("googleMap").style.width = '70%';
        document.getElementById("search_results").style.width = '30%';
    }

    function _hide_search_results_div(){
        document.getElementById("search_results").style.display = 'none';
        document.getElementById("googleMap").style.width = '100%';
        document.getElementById("search_results").style.width = '0%';
    }


    function initMap(){
        map = new google.maps.Map(document.getElementById('googleMap'), {
          center: {lat: -37.450, lng: 144.450},
          zoom: 8,
          mapTypeId: 'roadmap',
          disableDefaultUI: true,
          fullscreenControl: true
        });

        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        //map.controls[google.maps.ControlPosition.TOP_RIGHT].push(input);

        var map_type = document.getElementById('maptype');
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(map_type);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
          searchBox.setBounds(map.getBounds());
        });

                var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function() {
          var places = searchBox.getPlaces();

          if (places.length == 0) {
            return;
          }

          // Clear out the old markers.
          markers.forEach(function(marker) {
            marker.setMap(null);
          });
          markers = [];

          // For each place, get the icon, name and location.
          var bounds = new google.maps.LatLngBounds();
          places.forEach(function(place) {
            if (!place.geometry) {
              console.log("Returned place contains no geometry");
              return;
            }
            var icon = {
              url: place.icon,
              size: new google.maps.Size(71, 71),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(17, 34),
              scaledSize: new google.maps.Size(25, 25)
            };

            // Create a marker for each place.
            markers.push(new google.maps.Marker({
              map: map,
              icon: icon,
              title: place.name,
              position: place.geometry.location
            }));

            target_latitude = place.geometry.location.lat().toFixed(6);
            target_longitude = place.geometry.location.lng().toFixed(6);

            if (place.geometry.viewport) {
              // Only geocodes have viewport.
              bounds.union(place.geometry.viewport);
            } else {
              bounds.extend(place.geometry.location);
            }
          });
          map.fitBounds(bounds);
        });
    }

</script>

<div class="form">
        <h1>Search Page</h1>

        <p>This page is for locating an address and searching the database for when a truck was near that address.</p>
        <h2>Step 1: Enter an Address (and press enter)</h2><br>
        <p><input id="pac-input" class="controls" type="text" placeholder="Enter an address to search..."><br>(It will appear on the map below)</p>
        <h2>Step 2: If this is the address you want, press the button below.</h2>
        <p>
            <button
                    style="font-size: 20px; background: none;"
                    type="button"
                    class="button"
                    id="ButtonSearch"
                    name="Search"
                    onclick="search_for_events();" >
                        Search database for trucks that have been near here recently
            </button>
        </p>

        <select style="width:auto;border: 2px solid #203b4f;display:inline;background:#0d4299;color:#a0b3b0;font-size:20px;" id="maptype" name="maptypeMT" onchange='if(this.value != 0) { map.setMapTypeId(this.value); }'>
            <option value="roadmap" SELECTED>Roadmap</option>
            <option value="satellite">Satellite</option>
            <option value="hybrid">Hybrid</option>
            <option value="terrain">Terrain</option>
        </select>
        <div id="search_wrapper">
            <div id="googleMap" allowfullscreen="true" style="height:650px;"></div>
            <div id="search_results"/>
        </div>
        <script src="https://maps.googleapis.com/maps/api/js?key={{google_api_key}}&libraries=places&callback=initMap" async defer></script>

    </div>

{% endblock %}
