{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}
<title>GSD - Settings</title>
{% endblock %}

{% block content %}
<div class="form">
      <div class="tab-content">
          <div>
              <h1>Personalisation of the website is managed here</h1>
        </div>
      </div><!-- tab-content -->
  </div> <!-- /form -->
{% endblock %}
